.header-style {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-style input,
.header-style button {
  margin: 10px 0px;
}

.title-style {
  text-align: center;
}

.app-style {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.component-style {
  width: 100px;
  height: 100px;
  border: 1px solid green;
  border-radius: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
}
